:root {
    --background-color: #FCFCFC;
    --card-color: #333333;
    --card-padding: 16px;
    --accent-color: #9A244F;
    --divider-color: #171717;
    --link-color: #ff6da3;
    --link-hover-color: #BBBBBB;
    --button-text-color: #FFFFFF;
    --text-color: #FFFFFF;
    --profile-photo-size: 128px;
    --profile-photo-right-margin: 32px;
    --title-font: 'Oswald';
    --body-font: 'Source Sans 3';
}

body {
    background-color: var(--background-color);
    color: white;
    font-family: var(--body-font);
    line-height: 1.4;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.business-card--more {
    background-color: var(--accent-color);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--button-color);
    display: inline-block;
    font-weight: 600;
    padding: 4px 12px;
    margin-top: 8px;
}

a:hover,
.business-card--more:hover {
    color: var(--link-hover-color);
}

.aligner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100dvh;
    overflow: hidden;
    overflow: hidden;
}

.flip-container {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.business-card {
    background-color: var(--card-color);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden; /* for rounding corner of background pattern */
    padding: var(--card-padding);
    position: relative;
}

.business-card:hover::before {
    opacity: 1;
}

/* background pattern */
.business-card.front::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(var(--profile-photo-right-margin) + var(--profile-photo-size) / 2);

    background: url('images/dark_embroidery.png'); /* from subtlepatterns.com */
}

/* circular profile photo */
.business-card.front::after {
    content: "";

    border-radius: 50%;
    border: 4px solid white;

    width: var(--profile-photo-size);
    height: var(--profile-photo-size);

    background: url('https://gravatar.com/avatar/1c4b848b80a833ed3b746d89ed01e32a?s=150');
    background-size: cover;

    z-index: 2;

    position: absolute;
    top: 50%;
    margin-top: calc(var(--profile-photo-size) / -2);
    right: calc(var(--profile-photo-right-margin) + var(--profile-photo-size) / 2);
    margin-right: calc(var(--profile-photo-size) / -2);
}

.business-card--text {
    position: absolute;
    bottom: var(--card-padding);
}

.business-card--name {
    font-family: var(--title-font);
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* From animated.css
 * https://github.com/daneden/animate.css/blob/master/source/specials/rollIn.css
 */
@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-25em, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.rollIn {
    animation: rollIn 1.2s;
}
