body {
    background-color: #505d7c;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1rem;
}

a {
    color: #ff9999;
    font-weight: bolder;
    text-decoration: none;

    -webkit-transition: color .7s;
    transition: color .7s;
}

a:hover {
    color: white;
}

.flexWrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.main {
    color: #e0e3eb;
    text-shadow: 1px 1px black;
    width: 20rem;
}

.highlight {
    color: #b3b3cc;
    font-weight: bolder;
}

#img-wheel,
#img-wheel-buffer {
    background-image: url('images/aerial.jpg');
    background-size: cover;
    border-radius: 5px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#img-wheel {
    z-index: 1; // always shows on top of img-wheel-buffer
}

#img-wheel-buffer {
    background-image: url('images/karencat.png');
}

.img-wheel-container {
    flex: 0 0 300px;
    width: 300px;
    height: 300px;

    cursor: pointer;
    position: relative;
    margin: 1rem;
}

.link-icons a {
    margin-right: 5px;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ff9999;
    border-radius: 5px;

    -webkit-transition: border .7s, color .7s;
    transition: border .7s, color .7s;
}

.link-icons a:hover {
    border: 1px solid white;
}
