body {
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
    background-color: #505d7c;
    margin: 0;
}

.flexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background: rgba(80, 93, 124, 0.7);
    color: #e0e3eb;
    width: 20rem;
}

.experiment {
    cursor: pointer;
    flex: 0 0 20rem;
    margin-right: 2rem;

    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
}

.highlight {
    color: #b3b3cc;
    font-weight: bolder;
}
