@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes bounce {
    0% { transform: scaleX(1) scaleY(1.1); }
    100% { transform: scaleX(1.1) scaleY(1); }
}

.navigation {
    background-color: var(--accent-color);
}

.navigation-content {
    max-width: var(--page-max-width);
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }
}

.nav-link {
    opacity: 0;
    animation: fadeInDown 1s forwards;
    &:nth-child(2) { animation-delay: 100ms; }
    &:nth-child(3) { animation-delay: 200ms; }
    &:nth-child(4) { animation-delay: 300ms; }

    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    margin: 12px;
    padding: 12px 0;

    position: relative; /* for positioning ::before content */
}

a.nav-link, a.nav-link:hover, a.nav-link:visited {
    color: var(--nav-link-color);
}

.nav-link::before {
    content: "";
    background-color: var(--nav-link-color);

    position: absolute;
    transition: width 0.5s, left 0.5s;
    left: 50%;
    width: 0;
    height: 2px;
}

.nav-link::before {
    bottom: 0;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
}

.navigation-separator {
    background-color: var(--accent-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    margin-bottom: 80px;
    height: 80px;

    position: relative; /* for positioning .cat-image */
}

.cat-image {
    --cat-size: 100px;

    transform-origin: bottom center;
    animation: bounce 1s ease-in-out infinite alternate;

    width: var(--cat-size);
    height: var(--cat-size);
    position: absolute;
    left: 50%;
    margin-left: calc(var(--cat-size) * -0.5);
    bottom: calc(var(--cat-size) * -0.5);
}