:root {
    --divider-color: #E6E6E6;
    --accent-color: #9A244F;
    --nav-link-color: white;
    --page-max-width: 700px;
    --title-font: 'Lexend';
    --body-font: 'Source Sans 3';
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin: 0;
}

body, h4 {
    font-family: var(--body-font);
    line-height: 1.5;
}

main {
    max-width: var(--page-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

hr {
    border: 0;
    border-top: 1px solid var(--divider-color);
}

h1, h2, h3, .nav-link {
    font-family: var(--title-font);
}

h2, h3 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

h4 {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

a, a:visited {
    color: var(--accent-color);
    text-decoration: underline;
    transition: color 250ms;
}

a:hover {
    color: #644536;
}

section {
    margin-bottom: 32px;
}

.about-row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-photo {
    flex: none;
    border-radius: 50%;
    border: 3px solid var(--divider-color);
    width: 100px;
    height: 100px;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.work-section {
    margin: 24px 0;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.title-logo {
    flex: none;
    max-width: 30px;
    max-height: 30px;
    border-radius: 3px;

    &.horizontal {
        border-radius: 0;
    }
}

.zenrez-logo {
    background-color: #354b60;
    box-sizing: border-box;
    padding: 4px;
    width: 30px;
}

.title-text {
    flex: 1;
    margin: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
    }

    th, td {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    th {
        border-bottom: 2px solid var(--divider-color);
    }

    td {
        border-bottom: 1px solid var(--divider-color);
    }
}

@media print {
    /* Hide elements */
    .navigation,
    .navigation-separator {
        display: none;
    }

    /* Decrease element margins */
    @page { margin: 0.5cm; }
}
