body {
    margin: 2rem;
}

h1 {
    font-weight: 500;
    text-align: center;
}

h1, h2 {
    margin: 3rem 0;
}

h4 {
    font-size: 1em;
}

a, a:visited {
    color: #E34A6F;
    text-decoration: underline;
    transition: color 250ms;
}

a:hover {
    color: #CEB1BE;
}

@keyframes bounce {
    0% { transform: scaleX(1) scaleY(1.1); }
    100% { transform: scaleX(1.1) scaleY(1); }
}

#about {
    font-weight: bold;
}

/* cat image in the middle of name */
.first-name:after {
    content: url(karencat.svg);

    transform-origin: bottom center;
    animation: bounce 1s ease-in-out infinite alternate;

    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 0 1rem 0 1.5rem;

    position: relative;
    top: 2rem;
}

.work-section {
    margin: 3rem 0;
}

.work-logo {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.empower-logo, .zenrez-logo {
    border-radius: 3px;
}

.zenrez-logo {
    background-color: #354b60;
    padding: 0.5rem;
}

.work-title {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

@media print {
    /* Hide elements */
    .navigation,
    .first-name:after,
    .last-name:before,
    a[href^="screenshot_"]:after, /* links to screenshots */
    .work-logo {
        display: none;
    }

    /* Decrease element margins */
    .work-section { margin: 0; }
    h1 { margin: 0 0 0.5cm 0; }
    @page { margin: 0.5cm; }
}
