body {
    margin: 2rem;
}

h1 {
    margin: 3rem 0;
}

a, a:visited {
    color: #96C0CE;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #74828F;
    text-decoration: none;
}

.contact {
    text-align: center;
}

.intro {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
    flex: none;
}

.work-section {
    margin: 3rem 0;
}

.work-logo {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.zenrez-logo {
    background-color: #354b60;
    border-radius: 3px;
    padding: 0.5rem;
}

.work-title {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.project-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    margin-bottom: 1rem;
    width: 100%;
}

@media print {
    /* Hide elements */
    .navigation,
    .intro img,
    a[href^="screenshot_"]:after, /* links to screenshots */
    .work-logo {
        display: none;
    }

    /* Decrease element margins */
    .work-section { margin: 0; }
    h1 { margin: 0 0 0.5cm 0; }
    @page { margin: 0.5cm; }
}
